@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
/* center a div */
.center {
  position: absolute !important;
  top: 50%;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
}
.py-20 {
  padding: 0px;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 5px; /* Set the scrollbar width */
  border-radius: 100px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ee9d1a; /* Set the scrollbar color */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the scrollbar track color */
}
.last-card {
  grid-column-start: span 5;
  justify-self: center;
  position: relative;
  left: "50%";
}
