@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
/* center a div */
.center {
  position: absolute !important;
  top: 50%;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
}
.py-20 {
  padding: 0px;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 5px; /* Set the scrollbar width */
  border-radius: 100px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ee9d1a; /* Set the scrollbar color */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the scrollbar track color */
}
.last-card {
  grid-column-start: span 5;
  justify-self: center;
  position: relative;
  left: "50%";
}

.bg-gradient {
  background: linear-gradient(
    50deg,
    rgba(238, 157, 26, 1) 9%,
    rgba(239, 165, 44, 1) 12%,
    rgb(0, 0, 0) 47%
  );
  background-size: 200% 200%;
  animation: gradientRipple 5s ease infinite;
}
.bg-gradients {
  background: linear-gradient(
    50deg,
    rgba(238, 157, 26, 1) 9%,
    rgba(239, 165, 44, 1) 12%,
    rgb(255, 255, 255) 47%
  );
  background-size: 200% 200%;
  animation: gradientRipple 5s ease infinite;
}
@keyframes gradientRipple {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.ceoImage {
  border: 1px solid #eee; /* JUST TO LOOK COOL */
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  background-color: #fbf4e9;
}

.ceoImage:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -12px, 0px);
}
.cards {
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.3s ease-in-out;
}

.cards:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -12px, 0px);
}

.bgcover {
  background-size: cover !important;
  background-position: 600px -470px !important;
}
